body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 0;
  margin:0;
}
*{
  text-decoration:none;
  padding:0;
  list-style:none;
  box-sizing:border-box;
   }
nav{
  display:flex;
  background-color:#7E481C;
  height:80px;
  font-size:30px;
  width:100%;
  align-items:center;
  font-weight:bold;
  padding-left:5rem;
  padding-right:5rem;
    }

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 100%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  max-width: 40rem;
  margin-top:50px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:-25px;
  margin-bottom: 2px;
  padding-top: 1rem;
  max-height: 100%;
  max-width: 100%;
}
hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: Impact, serif;
}

.item {
  /*border:1px solid black;*/
  display: flex;
  flex-flow:row wrap;
  height:35px;
  justify-content:space-between;
    }

/* FOOTER */

.footer {
  display:flex;
  justify-content:space-around;
  flex-direction:column;
  font-size: 14px;
  background-color: peru;
  font-size: 14px;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top:4rem;
}
.address {
  margin-bottom: 0;
}

.row{
  display:flex;
  justify-content:space-between;
}
.footer-col{
  display :flex;
  flex-direction:column;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}