body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 0;
  margin:0;
}
*{
  text-decoration:none;
  padding:0;
  list-style:none;
  box-sizing:border-box;
   }
nav{
  display:flex;
  background-color:peru;
  height:4rem;
  font-size:20px;
  width:100%;
  align-items:center;
  font-weight:bold;
  padding-left:5rem;
  padding-right:5rem;
    }
button{
  background-color:Brown;
  letter-spacing:2px;
  width:5rem;
  height:2rem;
  border-radius:10px;
  cursor:pointer;
  border:none;
  color:white;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 100%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  max-width: 40rem;
  margin-top:50px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:-25px;
  margin-bottom: 2px;
  padding-top: 2rem;
  max-height: 100%;
  max-width: 100%;
}
hr {
  height: 5px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: Impact, serif;
}

.item {
  /*border:1px solid black;*/
  display: flex;
  flex-flow:row wrap;
  height:35px;
  justify-content:space-between;
    }

/* FOOTER */

.footer {
  display:flex;
  background-color: peru;
  font-size: 14px;
  width:100%;
  justify-content: space-evenly;
  padding:20px;
  margin-top:4rem;
  flex-direction: row;
  flex-wrap: wrap;

}
.address {
  margin-top:0px;
  font-size:10px;
}
.footer-col{
  display :flex;
  flex-direction:column;
  align-items:center;
}

ul li{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:10px;
  justify-content: space-evenly;

  }

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
@media(max-width:500px)
{
  nav{
  padding-left:3rem;
  padding-right:3rem;
    }
   .menu
    {
  width: 90%;
  max-width: 35rem;
  padding:1rem;
  margin-bottom:10rem;
   }
  .footer{
  padding:5px;
  margin-top:4rem;
    height:35rem;
  }
  .footer-col{
    width:100%;
  }
   h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}
.item,.dessert{
  font-size: 15px;
  }
ul li{
margin:auto;
  }

}